<h2>Add new celebrity</h2>

<form action="/new-celeb" method="POST">
<label for="name">Name: </label>
<input name="name">
<label for="occupation">Occupation: </label>
<input name="occupation">
<label for="catchPhrase">catchy Phrase: </label>
<input name="catchPhrase">
<button type="submit">Submit</button>
</form>